In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sem

In [17]:
# read csv into df
df_wastewater_county = pd.read_csv('resources/wastewater_by_county.csv', parse_dates = True)
#df_wastewater_region = pd.read_csv('resources/wastewater_by_region.csv', parse_dates = True)
df_cases_county = pd.read_csv('resources/cases_by_county.csv', parse_dates = True)
#df_cases_region = pd.read_csv('resources/cases_by_region.csv', parse_dates = True)
df_wastewater_county['sampling_week'] = pd.to_datetime(df_wastewater_county['sampling_week'])
#df_wastewater_region['sampling_week'] = pd.to_datetime(df_wastewater_region['sampling_week'])
df_cases_county['date'] = pd.to_datetime(df_cases_county['date'])
#df_cases_region['date'] = pd.to_datetime(df_cases_region['date'])
display(df_wastewater_county.head())
#display(df_wastewater_region.head())
display(df_cases_county.head())
#display(df_cases_region.tail(20))

,sampling_week,effective_concentration_rolling_average,region,state,name,fipscode
0,2020-03-04,1.740219,Northeast,MA,"Suffolk County, MA",25025
1,2020-03-11,12.590344,Northeast,MA,"Suffolk County, MA",25025
2,2020-03-18,58.023322,Northeast,MA,"Suffolk County, MA",25025
3,2020-03-25,36.631750,West,CO,"Arapahoe County, CO",8005
4,2020-03-25,4051.550869,Northeast,NJ,"Essex County, NJ",34013

,date,rolling_average_cases_per_100k,region,state,name,fipscode
0,2020-11-09,40.954431,Northeast,MA,"Hampden County, MA",25013
1,2020-11-10,44.568958,Northeast,MA,"Hampden County, MA",25013
2,2020-11-12,47.999696,Northeast,MA,"Hampden County, MA",25013
3,2020-11-19,45.365380,Northeast,MA,"Hampden County, MA",25013
4,2020-11-21,47.570854,Northeast,MA,"Hampden County, MA",25013

In [18]:
display(df_wastewater_county.info())
#display(df_wastewater_region.info())
display(df_cases_county.info())
#display(df_cases_region.info())

display(df_wastewater_county.shape)
#display(df_wastewater_region.shape)
display(df_cases_county.shape)
#display(df_cases_region.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15950 entries, 0 to 15949
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   sampling_week                            15950 non-null  datetime64[ns]
 1   effective_concentration_rolling_average  15950 non-null  float64
 2   region                                   15950 non-null  object
 3   state                                    15950 non-null  object
 4   name                                     15950 non-null  object
 5   fipscode                                 15950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 747.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294925 entries, 0 to 294924
Data columns (total 6 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            294925 non-null  datetime64[ns]
 1   rolling_average_cases_per_100k  294925 non-null  float64
 2   region                          294925 non-null  object
 3   state                           294925 non-null  object
 4   name                            294925 non-null  object
 5   fipscode                        294925 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 13.5+ MB

None

(15950, 6)

(294925, 6)

In [19]:
df_wastewater_county =  df_wastewater_county.drop(columns= ['fipscode', 'region'])
df_cases_county =  df_cases_county.drop(columns= ['fipscode', 'region'])
df_wastewater_county = df_wastewater_county.rename(columns = {'effective_concentration_rolling_average': 
                                                              'Concentration',
                                                              'name' :
                                                              'County Name',
                                                              'sampling_week':
                                                              'Date',
                                                              'state':
                                                              'State'})
# df_wastewater_region = df_wastewater_region.rename(columns = {'effective_concentration_rolling_average': 
#                                                               'Concentration',
#                                                               'region' :
#                                                               'Region',
#                                                               'sampling_week':
#                                                               'Date'})
df_cases_county = df_cases_county.rename(columns = {'rolling_average_cases_per_100k':
                                                    'Rolling Average Cases per 100K',
                                                    'name':
                                                    'County Name',
                                                    'date':
                                                    'Date',
                                                    'state':
                                                    'State'})
# df_cases_region = df_cases_region.rename(columns = {'region' : 
#                                                     'Region',
#                                                     'new_cases':
#                                                     'New Cases',
#                                                     'rolling_average_new_cases_centered':
#                                                     'Rolling Average Cases',
#                                                     'date':
#                                                     'Date'})
# df_wastewater_county.index.names = ['Date']
# df_wastewater_region.index.names = ['Date']
# df_cases_county.index.names = ['Date']
# df_cases_region.index.names = ['Date']

display(df_wastewater_county.head())
#display(df_wastewater_region.head())
display(df_cases_county.head())
#display(df_cases_region.head())

         Date  Concentration State                 County Name
0  2020-03-04       1.740219    MA          Suffolk County, MA
1  2020-03-11      12.590344    MA          Suffolk County, MA
2  2020-03-18      58.023322    MA          Suffolk County, MA
3  2020-03-25      36.631750    CO         Arapahoe County, CO
4  2020-03-25    4051.550869    NJ            Essex County, NJ
5  2020-03-25      62.425517    FL       Miami-Dade County, FL
6  2020-03-25       0.000000    IN          Steuben County, IN
7  2020-03-25     159.454813    MA          Suffolk County, MA
8  2020-04-01    2433.387972    NJ            Essex County, NJ
9  2020-04-01      29.605173    MA        Hampshire County, MA
10 2020-04-01     141.444303    FL       Miami-Dade County, FL
11 2020-04-01       0.000000    CA           Placer County, CA
12 2020-04-01      28.407879    MA         Plymouth County, MA
13 2020-04-01       0.000000    CA  San Luis Obispo County, CA
14 2020-04-01     241.090782    MA          Suffolk County, MA
15 2020-04-01       0.000000    OR          Yamhill County, OR
16 2020-04-08     289.532086    OR        Deschutes County, OR
17 2020-04-08    5442.737621    NJ            Essex County, NJ
18 2020-04-08      49.111109    MA        Hampshire County, MA
19 2020-04-08       0.000000    KY         Harrison County, KY

        Date  Concentration      Region
0 2020-03-04       1.740219  Nationwide
1 2020-03-04       1.740219   Northeast
2 2020-03-11      12.590344  Nationwide
3 2020-03-11      12.590344   Northeast
4 2020-03-18     131.833258  Nationwide

         Date  Rolling Average Cases per 100K State         County Name
0  2020-11-09                       40.954431    MA  Hampden County, MA
1  2020-11-10                       44.568958    MA  Hampden County, MA
2  2020-11-12                       47.999696    MA  Hampden County, MA
3  2020-11-19                       45.365380    MA  Hampden County, MA
4  2020-11-21                       47.570854    MA  Hampden County, MA
5  2020-11-23                       44.967169    MA  Hampden County, MA
6  2020-11-27                       47.815907    MA  Hampden County, MA
7  2020-12-06                       76.793387    MA  Hampden County, MA
8  2020-12-09                       69.166122    MA  Hampden County, MA
9  2020-12-12                       67.052543    MA  Hampden County, MA
10 2020-12-13                       66.164227    MA  Hampden County, MA
11 2020-12-17                       69.196754    MA  Hampden County, MA
12 2020-12-23                       51.032223    MA  Hampden County, MA
13 2020-12-29                        3.093790    MA  Hampden County, MA
14 2020-12-31                       26.863901    MA  Hampden County, MA
15 2021-01-03                      117.318977    MA  Hampden County, MA
16 2021-01-05                      149.727195    MA  Hampden County, MA
17 2021-01-06                      146.786563    MA  Hampden County, MA
18 2021-01-11                       90.914549    MA  Hampden County, MA
19 2021-01-14                       81.663810    MA  Hampden County, MA

    Region       Date  New Cases  Rolling Average Cases
0  Midwest 2020-01-27        0.0               0.142857
1  Midwest 2020-01-29        0.0               0.142857
2  Midwest 2020-02-04        0.0               0.142857
3  Midwest 2020-02-06        0.0               0.142857
4  Midwest 2020-02-26        0.0               0.000000

In [24]:
df_county = pd.merge(df_wastewater_county, df_cases_county, on=['Date', 'County Name', 'State'])
#df_region = pd.merge(df_wastewater_region, df_cases_region, on=['Date', 'Region'])

df_county = df_county.set_index('Date')

df_county = df_county.loc['2020-03-11':'2021-03-11']

,Concentration,State,County Name,Rolling Average Cases per 100K
Date,,,,
2021-03-10,47.775163,MT,"Park County, MT",12.043840
2021-03-10,29.683240,CA,"Placer County, CA",8.679114
2021-03-10,228.710405,VA,"Stafford County, VA",13.362313
2021-03-10,312.704253,MA,"Suffolk County, MA",18.303468
2021-03-10,147.001059,NJ,"Union County, NJ",38.106126