In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sem

In [25]:
# read csv into df
df_wastewater_county = pd.read_csv('resources\wastewater_by_county.csv', parse_dates = True)
df_wastewater_region = pd.read_csv('resources\wastewater_by_region.csv', parse_dates = True)
df_cases_county = pd.read_csv('resources\cases_by_county.csv', parse_dates = True)
df_cases_region = pd.read_csv('resources\cases_by_region.csv', parse_dates = True)
display(df_wastewater_county.head())
display(df_wastewater_region.head())
display(df_cases_county.head())
display(df_cases_region.tail(20))

,sampling_week,effective_concentration_rolling_average,region,state,name,fipscode
0,2020-03-04,1.740219,Northeast,MA,"Suffolk County, MA",25025
1,2020-03-11,12.590344,Northeast,MA,"Suffolk County, MA",25025
2,2020-03-18,58.023322,Northeast,MA,"Suffolk County, MA",25025
3,2020-03-25,36.631750,West,CO,"Arapahoe County, CO",8005
4,2020-03-25,4051.550869,Northeast,NJ,"Essex County, NJ",34013

  sampling_week  effective_concentration_rolling_average      region
0    2020-03-04                                 1.740219  Nationwide
1    2020-03-04                                 1.740219   Northeast
2    2020-03-11                                12.590344  Nationwide
3    2020-03-11                                12.590344   Northeast
4    2020-03-18                               131.833258  Nationwide

,date,rolling_average_cases_per_100k,region,state,name,fipscode
0,2020-11-09,40.954431,Northeast,MA,"Hampden County, MA",25013
1,2020-11-10,44.568958,Northeast,MA,"Hampden County, MA",25013
2,2020-11-12,47.999696,Northeast,MA,"Hampden County, MA",25013
3,2020-11-19,45.365380,Northeast,MA,"Hampden County, MA",25013
4,2020-11-21,47.570854,Northeast,MA,"Hampden County, MA",25013

          region        date  new_cases  rolling_average_new_cases_centered
5855  Nationwide  2023-02-10     4814.0                        25896.000000
5856  Nationwide  2023-02-11     4187.0                        25517.714286
5857  Nationwide  2023-02-15    38325.0                        25417.142857
5858  Nationwide  2023-02-19     2298.0                        25337.714286
5859  Nationwide  2023-02-24     6628.0                        20750.428571
5860  Nationwide  2023-02-26     1835.0                        16145.714286
5861  Nationwide  2023-02-28    17798.0                        22534.142857
5862  Nationwide  2023-03-02    26071.0                        21840.714286
5863  Nationwide  2023-03-06   377822.0                        94987.000000
5864  Nationwide  2023-03-07   144921.0                        84845.857143
5865  Nationwide  2023-03-09    30234.0                        85816.142857
5866  Nationwide  2023-03-11     4150.0                        13912.000000
5867  Nationwide  2023-03-14    17338.0                        13159.142857
5868  Nationwide  2023-03-17    18589.0                        18835.714286
5869  Nationwide  2023-03-20    46053.0                        19108.142857
5870  Nationwide  2023-04-02    21552.0                        13298.428571
5871  Nationwide  2023-04-03     1595.0                        14602.571429
5872  Nationwide  2023-04-07     2087.0                         9897.571429
5873  Nationwide  2023-04-10     1166.0                         6851.000000
5874  Nationwide  2023-04-14    12461.0                         8169.714286

In [62]:
display(df_wastewater_county.info())
display(df_wastewater_region.info())
display(df_cases_county.info())
display(df_cases_region.info())

display(df_wastewater_county.shape)
display(df_wastewater_region.shape)
display(df_cases_county.shape)
display(df_cases_region.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15950 entries, 0 to 15949
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           15950 non-null  object
 1   Concentration  15950 non-null  float64
 2   County Name    15950 non-null  object
dtypes: float64(1), object(2)
memory usage: 374.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           820 non-null    object
 1   Concentration  820 non-null    float64
 2   Region         820 non-null    object
dtypes: float64(1), object(2)
memory usage: 19.3+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294925 entries, 0 to 294924
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   294925 non-null  object
 1   Rolling Average Cases  294925 non-null  float64
 2   County Name            294925 non-null  object
dtypes: float64(1), object(2)
memory usage: 6.8+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5875 entries, 0 to 5874
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Region                 5875 non-null   object
 1   Date                   5875 non-null   object
 2   New Cases              5875 non-null   float64
 3   Rolling Average Cases  5875 non-null   float64
dtypes: float64(2), object(2)
memory usage: 183.7+ KB

None

(15950, 3)

(820, 3)

(294925, 3)

(5875, 4)

In [42]:
# df_wastewater_county =  df_wastewater_county.drop(columns= ['state', 'fipscode', 'region'])
# df_cases_county =  df_cases_county.drop(columns= ['state', 'fipscode', 'region'])
# df_wastewater_county = df_wastewater_county.rename(columns = {'effective_concentration_rolling_average': 
#                                                               'Concentration',
#                                                               'name' :
#                                                               'County Name',
#                                                               'sampling_week':
#                                                               'Date'})
# df_wastewater_region = df_wastewater_region.rename(columns = {'effective_concentration_rolling_average': 
#                                                               'Concentration',
#                                                               'region' :
#                                                               'Region',
#                                                               'sampling_week':
#                                                               'Date'})
# df_cases_county = df_cases_county.rename(columns = {'rolling_average_cases_per_100k':
#                                                     'Rolling Average Cases',
#                                                     'name':
#                                                     'County Name',
#                                                     'date':
#                                                     'Date'})
# df_cases_region = df_cases_region.rename(columns = {'region' : 
#                                                     'Region',
#                                                     'new_cases':
#                                                     'New Cases',
#                                                     'rolling_average_new_cases_centered':
#                                                     'Rolling Average Cases',
#                                                     'date':
#                                                     'Date'})
# df_wastewater_county.index.names = ['Date']
# df_wastewater_region.index.names = ['Date']
# df_cases_county.index.names = ['Date']
# df_cases_region.index.names = ['Date']

display(df_wastewater_county.head(20))
display(df_wastewater_region.head())
display(df_cases_county.head(20))
display(df_cases_region.head())

          Date  Concentration                 County Name
0   2020-03-04       1.740219          Suffolk County, MA
1   2020-03-11      12.590344          Suffolk County, MA
2   2020-03-18      58.023322          Suffolk County, MA
3   2020-03-25      36.631750         Arapahoe County, CO
4   2020-03-25    4051.550869            Essex County, NJ
5   2020-03-25      62.425517       Miami-Dade County, FL
6   2020-03-25       0.000000          Steuben County, IN
7   2020-03-25     159.454813          Suffolk County, MA
8   2020-04-01    2433.387972            Essex County, NJ
9   2020-04-01      29.605173        Hampshire County, MA
10  2020-04-01     141.444303       Miami-Dade County, FL
11  2020-04-01       0.000000           Placer County, CA
12  2020-04-01      28.407879         Plymouth County, MA
13  2020-04-01       0.000000  San Luis Obispo County, CA
14  2020-04-01     241.090782          Suffolk County, MA
15  2020-04-01       0.000000          Yamhill County, OR
16  2020-04-08     289.532086        Deschutes County, OR
17  2020-04-08    5442.737621            Essex County, NJ
18  2020-04-08      49.111109        Hampshire County, MA
19  2020-04-08       0.000000         Harrison County, KY

         Date  Concentration      Region
0  2020-03-04       1.740219  Nationwide
1  2020-03-04       1.740219   Northeast
2  2020-03-11      12.590344  Nationwide
3  2020-03-11      12.590344   Northeast
4  2020-03-18     131.833258  Nationwide

          Date  Rolling Average Cases         County Name
0   2020-11-09              40.954431  Hampden County, MA
1   2020-11-10              44.568958  Hampden County, MA
2   2020-11-12              47.999696  Hampden County, MA
3   2020-11-19              45.365380  Hampden County, MA
4   2020-11-21              47.570854  Hampden County, MA
5   2020-11-23              44.967169  Hampden County, MA
6   2020-11-27              47.815907  Hampden County, MA
7   2020-12-06              76.793387  Hampden County, MA
8   2020-12-09              69.166122  Hampden County, MA
9   2020-12-12              67.052543  Hampden County, MA
10  2020-12-13              66.164227  Hampden County, MA
11  2020-12-17              69.196754  Hampden County, MA
12  2020-12-23              51.032223  Hampden County, MA
13  2020-12-29               3.093790  Hampden County, MA
14  2020-12-31              26.863901  Hampden County, MA
15  2021-01-03             117.318977  Hampden County, MA
16  2021-01-05             149.727195  Hampden County, MA
17  2021-01-06             146.786563  Hampden County, MA
18  2021-01-11              90.914549  Hampden County, MA
19  2021-01-14              81.663810  Hampden County, MA

    Region        Date  New Cases  Rolling Average Cases
0  Midwest  2020-01-27        0.0               0.142857
1  Midwest  2020-01-29        0.0               0.142857
2  Midwest  2020-02-04        0.0               0.142857
3  Midwest  2020-02-06        0.0               0.142857
4  Midwest  2020-02-26        0.0               0.000000

In [61]:
#df_county = pd.concat([df_wastewater_county, df_cases_county])
df_county = df_wastewater_county.join(df_cases_county, on= ['Date'])
#df_county = pd.merge(df_wastewater_county, df_cases_county, on=['Date', 'County Name'])
df_county.head()
# test = df_county.groupby(by= ['Date', 'County Name'], axis= 1)
# test.head()
#df_county.plot()

ValueError: You are trying to merge on object and int64 columns for key 'Date'. If you wish to proceed you should use pd.concat